*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    /* background-color: #1F4D91; */
    /* color: #fff; */
    
}
html , body{
    height: 100%;
    width: 100%;
}